$font_path: '~assets/fonts/'


@font-face 
  	font-family: 'Graphik';
  	src: url($font_path+'Graphik-Light.otf') format('opentype');
  	font-weight: 300;

@font-face 
  	font-family: 'Graphik';
  	src: url($font_path+'Graphik-Regular.otf') format('opentype');
  	font-weight: 500;

@font-face 
  	font-family: 'Graphik';
  	src: url($font_path+'Graphik-Semibold.otf') format('opentype');
  	font-weight: 700;

@font-face 
  	font-family: 'Graphik';
  	src: url($font_path+'Graphik-Black.otf') format('opentype');
  	font-weight: 900;
