@import '~styles/fonts_config.sass'

$default-background-color: #121212
$default-background-color1: red   

$text-color-white: #FFFFFF
$text-color-green: #65FEB2
$text-color-blue: #57FCF8
$text-color-purple: #BA68FF

$shadow-color-blue: #3F89DD

$gradient-light-blue: #5DFCF8
$gradient-dark-blue: #3985F7

@mixin size($width, $height)
	width: $width
	height: $height

*
	position: relative
	color: white
	font-family: 'Graphik'

html
	background-color: $default-background-color

#container
	max-width: 1180px
	margin-left: auto
	margin-right: auto

section
	margin-top: 280px
	margin-bottom: 280px
	background-color: transparent
h1
	color: $text-color-white
	font-size: 84px
	font-weight: 900
	
h2 
	color: $text-color-white
	font-size: 48px
	font-weight: 900
	margin-top: 32px
	margin-bottom: 32px

h3, span
	color: $text-color-white
	font-size: 20px
	font-weight: 500
	margin-top: 10px
	margin-bottom: 10px
	line-height: 28px
    letter-spacing: 12px

p
	color: $text-color-white
	font-size: 12px
	font-weight: 300
	margin-top: 2px
	margin-bottom: 2px
	line-height: 20px

h4
	color: $text-color-white
	font-size: 18px
	font-weight: 500
	margin-top: 10px
	margin-bottom: 10px

