@import '~styles/fonts_config.sass'
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)

$default-background-color: #121212
$default-footer-color: #121212

$text-color-white: #FFFFFF
$text-color-gray-light: #bbbbbb
$text-color-gray: #888888
$text-color-green: #5EEBA5
$text-color-blue: #57FCF8
$text-color-purple: #BA68FF

$page-color-gray: #444444

$shadow-color-blue: #3F89DD
$shadow-color-black: rgba(0, 0, 0, 0.5)

$gradient-light-blue: #5DFCF8
$gradient-dark-blue: #3985F7
$gradient-light-yellow: #FFE854
$gradient-dark-yellow: #FFCB67

$gradient-light-purple: #9B28DA
$gradient-dark-purple: #853CFF

$gradient-light-green: #61FAFF
$gradient-dark-green: #18DB60

$pc-media-l: 1440px
$pc-media: 1200px
$pcs-media: 959px
$pad-media: 760px
$pads-media: 759px
$phone-media: 480px
$phones-media: 479px

//電腦

@mixin pc-width-l() 
	@media all and (min-width: $pc-media-l) 
       	@content;

@mixin pc-width() 
	@media all and (min-width: $pc-media) 
       	@content;
     
//平板
@mixin pad-width() 
	@media all and (min-width:$pad-media) and (max-width: $pcs-media) 
            @content;
      

//小平板
@mixin small-pad-width() 
    @media all and (min-width: $phone-media) and (max-width:$pads-media) 
        @content;
      

//手機
@mixin phone-width() 
    @media all and (max-width: $phones-media) 
        @content



@mixin size($width, $height)
	width: $width
	height: $height

*
	position: relative
	color: white
	font-family: custom-serif, 'Noto Sans TC', sans-serif

html, body
	background-color: $default-background-color
	margin: 0px
	padding: 0px
	height: 100%
	width: 100%

#container
	max-width: 1600px
	margin-left: auto
	margin-right: auto

section
	margin-top: 0px
	margin-bottom: 0px
	padding-top: 120px
	padding-bottom: 120px
	background-color: transparent
h1
	color: $text-color-white
	font-size: 48px
	font-weight: 900
	line-height: 72px
	
h2 
	color: $text-color-white
	font-size: 32px
	font-weight: 900
	margin-top: 32px
	margin-bottom: 32px

h3, span, a 
	color: $text-color-white
	font-size: 16px
	font-weight: 300
	margin-top: 10px
	margin-bottom: 10px
	letter-spacing: 0.5px
	line-height: 24px

p
	color: $text-color-white
	font-size: 18px
	font-weight: 300
	margin-top: 2px
	margin-bottom: 2px
	line-height: 27px

a
	text-decoration: none


.fade-router-enter-active, .fade-router-leave-active 
  transition: opacity 0.3s


.fade-router-enter, .fade-router-leave-active 
  opacity: 0

.fade-enter-content
    opacity: 0
    transition: all 0.0s
.fade-enter-active-profile-title
    animation: aboutTitleIn 0.4s ease-out 0.3s forwards
.fade-enter-active-profile-content
    animation: aboutTitleIn 0.4s ease-out 0.4s forwards
.fade-enter-active-profile-content-1
    animation: aboutTitleIn 0.4s ease-out 0.5s forwards
.fade-enter-active-profile-content-2
    animation: aboutTitleIn 0.4s ease-out 0.6s forwards
@keyframes aboutTitleIn 
    0%
        transform: translateY(60px)
        opacity: 0
    100%
        transform: translateY(0px)
        opacity: 1.0

.next-title
    font-size: 32px
    font-weight: 700
    margin: 0px
    line-height: 42px
    margin-top: 64px
    text-align: left

svg
    transition: all 1.5s cubic-bezier(0,1.09,0.56,1)
    box-sizing: border-box

line
    stroke: white
    stroke-width: 5px
    stroke-linecap: round

.next-content
    margin: 0px
    margin-top: 8px
    margin-bottom: 24px
    max-width: 800px
    display: inline-flex
    cursor: pointer
    align-items: center

    &:hover
        svg
            transform: translateX(8px)

    .next-link
        text-decoration: none
        font-size: 18px
        font-weight: 500
        
        &:after
            content: ''
            position: absolute
            background: white
            transition: transform 0.3s
            transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9)
            bottom: -8px
            left: -6px
            height: 3px
            width: calc(100% + 12px)
            transform: scale3d(0, 1, 1)
            transform-origin: 0% 50%



